/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* universal */

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 13px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.alert {
  color: white;
  font-family: "Lato";
  text-align: center;
  width: 50%;
  margin: 20px auto;
  padding: 5px;
}
  .alert-success {
    background-color: rgba(39, 174, 96, 0.8);
  }
  .alert-danger {
    background-color: rgba(231, 76, 60, 0.8);
  }

.button {
  background: rgba(39, 174, 96, 1);
  border: none;
  color: white;
  display: block;
  font-family: "Lato";
  font-weight: 100;
  font-size: 15px;
  margin: auto;
  padding: 7px 15px;

  &.button-big {
    min-width: 250px;
    height: auto;
    margin: 60px auto;
    padding: 20px 40px;
    font-size: 28px;
  }
  &.button-danger {
    background-color: rgba(231, 76, 60, 0.8);
  }
  &.button-danger-link {
    background: none;
    color: rgba(231, 76, 60, 0.8);
    font-weight: normal;
  }
}
  a.button {
    text-decoration: none;
    width: 40%;
    text-align: center;
    box-sizing: border-box;

    &, &:visited, &:hover {
      color: white;
    }
  }
  a.button#edit {
    margin-top: 15px;
    width: 160px;
  }

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
  h1 {
    font-size: 40px;
    color: #555;
  }
  h2 {
    font-size: 30px;
    color: #777;
  }
  h5 {
    text-align: center;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: rgb(39, 174, 96);
}
  a:visited {
    color: rgb(39, 174, 96);
  }
  a:hover {
    color: red;
  }

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* nav bar */

.nav {
  height: 40px;
  width: 100%;
  background-color: rgba(39, 174, 96, 0.8);
  padding: 15px 0;
  font-family: 'Lato', Helvetica, sans-serif;
}

.nav div {
  display: flex;
  display: -webkit-flex;
  height: 100%;
          align-items: center;
  -webkit-align-items: center;
          justify-content: center;
  -webkit-justify-content: center;
}
  .nav div:not(.logo) a {
    padding-left: 25px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
  }
    .nav div:not(.logo) a:first-child {
      padding-left: 0;
    }

.nav .logo {
  float: left;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 32px;
  color: white;
  letter-spacing: 2px;
  margin-left: 20px;
}
  .nav .logo a {
    text-decoration: none;
  }

.nav .user-action {
  float: right;
  font-weight: 300;
  font-size: 16px;
  color: white;
  margin-right: 20px;
}

.nav a {
  color: white;
}
  .nav a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
  }

/* container */

.container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.container .product {
  display: inline-block;
  width: 25%;
  margin-right: -4px; /* disgusting hack because of inline block issues */
  margin-top: 40px
}

.details-under-image {
  
}

.product-price-wrapper, .product-status-wrapper {
  color: #999;
}
.product-price {
  color: #000;
}
.product-status-available {
  color: rgba(39, 174, 96, 0.8);
}
.product-status-rented {
  color: rgba(231, 76, 60, 0.8);
}

.product-type {
  color: #777;
  font-style: italic;
}

.container-img-map {
  display: flex;
  display: -webkit-flex;
          flex-direction: row;
  -webkit-flex-direction: row;
  width: 100%;
}

#map-canvas {
  width: 300px;
  height: 300px;
  margin: auto;
}

.container-img {
  width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
          flex-direction: column;
  -webkit-flex-direction: column;
          justify-content: center;
  -webkit-justify-content: center;
}

.container-img-individual {
  width: 70%;
  height: 70%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
          flex-direction: column;
  -webkit-flex-direction: column;
          justify-content: center;
  -webkit-justify-content: center;
}

  .container-img a img {
    max-width: 100%;
    max-height: 100%;
  }

/* forms */

.form-wrapper a {
  text-align: center;
  display: block;
  margin-top: 40px;
}

form {
  margin: auto;
  text-align: center;
}
  form .field {
    margin: 15px 0;
  }
    form label, form input, form textarea {
      display: inline-block;
      height: 36px;
    }
      form label {
        color: #aaa;
      }
        form .field label {
          width: 11em;
          margin-right: 10px;
          text-align: right;
        }
      form input, form select, form textarea {
        width: 160px;
      }
        form input[type="text"], form input[type="email"], form input[type="password"] {
          text-indent: 10px;
        }
        form textarea {
          padding: 10px;
          box-sizing: border-box;
          height: 100px;
        }
    form .field.field-checkbox {
      label {
        width: auto;
        margin-left: -7em;
      }
      input[type="checkbox"] {
        height: 14px;
        width: 14px;
      }
    }
    form .field.field-file {
      label {
        width: 18em;
      }
      input {
        width: 250px;
      }
    }
    form .field.map {
      label {
        text-align: center;
      }
    }

  form .field_with_errors {
    display: inline;
  }
    form .field_with_errors input {
      outline: 1px solid rgba(255, 0, 0, 0.7);
    }

.product-action .button {
    width: 140px;
}

.product-search-form {
  margin: 20px auto;
  display: flex;
  display: -webkit-flex;
          justify-content: center;
  -webkit-justify-content: center;

  input {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
  }

  input[type="text"] {
    width: 300px;
  }
  .button {
    display: inline-block;
    width: 120px;
    margin-left: 28px;
  }

  select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      color: transparent;
      cursor: pointer;
      outline: none;
      border: none;
      width: 28px;
  }
    select#classification {
      background: url(http://s3-us-west-2.amazonaws.com/scalableinternetservices/Arpeggio/public/filter.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position-y: 6px;
      margin-left: -28px;
    }
    select#distance {
      background: url(http://s3-us-west-2.amazonaws.com/scalableinternetservices/Arpeggio/public/point.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position-y: 6px;
      margin-left: -56px;
    }
}

#error_explanation {
  max-width: 400px;
  min-width: 250px;
  border: 1px solid rgba(255, 0, 0, 0.7);
  background-color: #fdf0f0;
  margin: 40px auto;

  h2 {
    text-align: left;
    font-weight: normal;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    text-transform: none;
  }

  ul li {
    font-size: 12px;
    text-align: left;
  }
}

table {
  margin: auto;

  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
thead {
  background: #e0e0e0;
  text-align: left;
}
  th, td {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
  }
    td:first-child, th:first-child {
      border-left-width: 0;
    }
    td input[type="number"] {
      display: block;
      width: 50px;
      font-size: 18px;
      height: auto;
      text-indent: 5px;
      margin: auto;
    }
tr:nth-child(2n) {
  background: #f2f2f2;
}


/* TODO: serve from S3 */
.cover-image-wrapper {
  background: url(http://s3-us-west-2.amazonaws.com/scalableinternetservices/Arpeggio/public/splash-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.search-bar {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "Lato";
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  display: block;
  height: 80px;
  margin: 120px auto 0;
  text-indent: 100px;
  width: 100%;

  /* TODO: server from S3.
     Magnifying glass */
  background-image: url(http://s3-us-west-2.amazonaws.com/scalableinternetservices/Arpeggio/public/magnifying-glass.png);
  background-repeat: no-repeat;
  background-size: 48px;
  background-position-y: 17px;
  background-position-x: 23px;

  // These *cannot* be placed in a list together. The browser will not recognize one selector and thus reject the rule.
  &::-webkit-input-placeholder  { color: #eee; }
  &:-moz-placeholder { color: #eee; }
  &::-moz-placeholder { color: #eee; }
  &:-ms-input-placeholder { color: #eee; }
}

.duration-length {
  text-align: center;
}
