/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* universal */

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 13px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Lato', Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h5 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #34495e;
}
  a:visited {
    color: #34495e;
  }

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* nav bar */

.nav {
  height: 40px;
  width: 100%;
  background-color: #34495e;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
}

.nav div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav .logo {
  float: left;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin-left: 20px;
}
  .nav .logo a {
    text-decoration: none;
  }

.nav div a {
  padding-left: 10px;
}

.nav .user-action {
  float: right;
  font-weight: 300;
  font-size: 16px;
  color: white;
  margin-right: 20px;
}

.nav a {
  color: white;
}
  .nav a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
  }

/* container */

.container {
  width: 80%;
  margin: auto;
}

.container .form-wrapper a {
  text-align: center;
  display: block;
}
  .container .form-wrapper a:hover {
    background-color: transparent;
    color: red;
  }

.container a:hover {
  background-color: transparent;
  color: red;
}

.container .product {
  display: inline-block;
  width: 25%;
  margin-right: -4px; /* disgusting hack because of inline block issues */
}

.container-img {
  width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .container-img a img {
    max-width: 100%;
    max-height: 100%;
  }

/* forms */

form {
  margin: auto;
  text-align: center;
}

form input {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* TO REMOVE LATER */
table {
  margin: auto;
}

td {
  padding: 2px;
}
