@media (max-width: 1300px) {
    .container {
        width: 85%;
    }
    .container .product {
        width: 33%;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .container .product {
        width: 50%;
    }

    .search-bar {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    .container .product {
        width: 100%;
    }

    .nav {
        height: auto;
        padding: 12px 0;
    }
        .nav .logo, .nav .user-action {
            float: none;
            margin: auto;
        }
            .nav .logo {
                font-size: 24px;
            }
            .nav .user-action {
                margin-top: 15px;
            }
        .nav div:not(.logo) a {
            font-size: 16px;
            padding-left: 15px;
        }

    .search-bar {
        background-size: 40px;
        background-position-y: 15px;
        background-position-x: 11px;
        font-size: 20px;
        height: 65px;
        text-indent: 65px;
    }
}
