<div class="cover-image-wrapper"></div>

<input class="search-bar" type="text" placeholder="Search products">

<button class="button" id="button-index">
    <%= link_to 'All Products', products_path %>
</button>
