<h1>
    arpeggio
</h1>

<p>
    Arpeggio is a peer-to-peer musical instrument and equipment rental marketplace. Users looking to rent out their equipment to other musicians can do so by posting listings on the marketplace. Users looking to rent equipment from others can do so by looking through listings on the marketplace (filtered by location and search history relevance).
</p>

<ul>
    <li><%= link_to "All Users", users_path %></li>
    <li><%= link_to "All Products", products_path %></li>
</ul>
